@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

body {
    /* Prevent scroll chaining */
    overscroll-behavior-y: contain;
    /* scroll bar space */
    scrollbar-gutter: stable;
}
